/open-hardware-monitor-tinyfan/obj/**/*
/open-hardware-monitor-tinyfan/Bin/**/*

/commandline/*.dll
/commandline/*.o
/commandline/*.exe

/firmware/**/*.o
/firmware/**/*.hex
/firmware/**/*.elf

.DS_Store
**/*.swp
open-hardware-monitor-tinyfan/External/hidtool.dll

open-hardware-monitor-tinyfan/OpenHardwareMonitor.suo

commandline/hiddata.o

firmware/eedump.hex

firmware/usbdrv/usbdrv.o

firmware/main.o

firmware/main.hex

firmware/main.elf
